
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  cursor: url('/public/cursor.png'), auto;
}

.cursor-clicked {
  cursor: url('/public/click.png'), auto; /* Clicked cursor */
}

#root {
  height: 100%;
}


.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rounded-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

