
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}


.canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rounded-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}